html {
  font-size: 10px;
  background: url(http://2.bp.blogspot.com/-WR04yn8z7W8/UBdT-kihDQI/AAAAAAAAA1U/VnwVWPMTHp0/s1600/8243.jpg) bottom center;
  background-size: auto contain;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 30vh;
  justify-content: center;
}

@font-face { font-family: Alba; src: url('ALBA____.TTF'); }

.key {
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 22rem;
  height: 22rem;
  text-align: center;
  color: white;
  background: rgba(247, 145, 167, .80);
  text-shadow: 0 0 3rem #c63151;
}

#a{
  align-items: flex-start;
}

#b{
  align-items: center;
}

#c{
  align-items: flex-end;
}

.playing {
  transform: scale(1.1);
  border: .8rem solid #c63151;
  box-shadow: 0 0 1rem #c63151;
}

kbd {
  display: block;
  font-family: 'Alba', sans-serif;
  font-size: 12rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: white;
}
